ul,li{
    list-style: none;
    margin-right: 0; 
    padding: 0;
}

.flip-container{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
    color: #333;
}

.flip-container>div{
    vertical-align: middle;
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-container>.front{
    transform: rotateY(0deg);
    visibility: visible;
    background-color: pink;
    transition: 1s;
}

.flip-container>.back{
    transform: rotateY(180deg);
    visibility: hidden;
    background-color: powderblue;
    transition: 1s;
}

h1#text{
    margin: 0;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
}

.back i{
    font-style: normal;
    color: #666;
    font-size: 0.8em;
}

.back>.setting>li{
    padding: 5px 20px;
    width: 100px;
    margin: 10px auto;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
}

.back>.setting>li:hover{
    opacity: 0.7;
}

.back>.setting>li.open{
    color: #eee;
    background-color: #333;
}

#code>a{
    margin: auto;
    text-decoration: none;
    color: #fff;
    background-color: #222;
    padding: 5px 10px;
    border-radius: 3px;
}

#code>a:hover{
    background-color: #ccc;
}